/.git/
/node_modules
*.log
supervisord.pid
/vendor/
/tmp/
/docs/
/cypress/
cypress.config.js
cypress.env.example.json
cypress.env.json
/.github/
/ansible/
/.vscode/
/.claude/
docker-compose*.yml
.env.dev
.env.test.backend
