APP_NAME=IDP
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=mysql
READ_DATABASE_HOST=mysql
WRITE_DATABASE_HOST=mysql
DB_PORT=3306
DB_DATABASE=idp
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

# REDIS_CLIENT=phpredis
# REDIS_HOST=127.0.0.1
# REDIS_PASSWORD=null
# REDIS_PORT=6379

MAIL_MAILER=smtp
# MAIL_SCHEME=null
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="noreply@tuo-idp.local"
MAIL_FROM_NAME="${APP_NAME}"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=

LDAP_HOST=
LDAP_PORT=

SESSION_DOMAIN=

CLIENT_ID_SENDY=
CLIENT_SECRET_SENDY=
URL_SENDY=
EMAIL_FROM=

TOKEN_COOKIE_DOMAIN=localhost
L5_SWAGGER_CONST_TOKEN_URL=${APP_URL}
L5_SWAGGER_USE_ABSOLUTE_PATH=false
ASSET_URL=${APP_URL}

# JWT
# TIME TO LIVE IN SECOND (60*60*24=86400)
JWT_TTL=86400
PROVIDER_DOMAIN=localhost

# Logs
LOG_SERVICE_URL="https://logs-test.newtimegroup.it/api"
LOG_SERVICE_TOKEN="Bearer LKCUq8y7xXvc-b8P7QC9ZbjZqD1d1H9o"